@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Acme');

*,*:before,*:after{
  margin:0;
  padding:0;
  box-sizing: content-box;

}

body{
  padding:50px;

  //background: red;
}
